.App {
  text-align: center;
}

.App-header {
  position: relative;
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.App-logo,
.App-logo::before,
.App-logo::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.App-logo {
  width: 130px;
  height: 130px;
  margin: auto;
  background: url('/img/profile.jpg') no-repeat 100%/100% rgba(0, 0, 0, 0.1);
  color: #fca146;
  box-shadow: inset 0 0 0 1px '#FCA146';
}
.App-logo::before,
.App-logo::after {
  content: '';
  z-index: 1;
  margin: -5%;
  box-shadow: inset 0 0 0 2px;
  animation: App-logo-clip 8s linear infinite;
}
.App-logo::before {
  animation-delay: -4s;
}
.App-logo:hover::after,
.App-logo:hover::before {
  background-color: rgba(255, 0, 0, 0.3);
}
.App-header-info {
  position: absolute;
  left: 50%;
  margin-left: 85px;
  margin-top: 5px;
  text-align: left;
}
.App-title {
  font-size: 1.5em;
}
.App-subtitle {
  font-size: 1em;
  color: #7e8184;
  margin-bottom: 0px;
  margin-top: 5px;
  font-style: italic;
  font-weight: initial;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-clip {
  0%,
  100% {
    clip: rect(0px, 220px, 2px, 0px);
  }
  25% {
    clip: rect(0px, 2px, 220px, 0px);
  }
  50% {
    clip: rect(218px, 220px, 220px, 0px);
  }
  75% {
    clip: rect(0px, 220px, 220px, 218px);
  }
}
